 <!-- footer -->
 <footer>
    <div class="footer">
       <div class="last">
            <h1 class="tit">Premium Quality; <span>Durable</span> Choice</h1>
            <p>
                That makes u standout this holiday season. Shop smarter with us.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, inventore numquam. Nam pariatur vol
            </p>
            <button>Shop With Love</button>
        </div>
    </div>
    <hr>
    <div class="copyright">
        <center>&copy; 2023 browndove</center>
    </div>
</footer>
<!-- end footer -->
<!-- Javascript files-->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>

<!-- cart.js and cart.css-->
</body>

</html>
